# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.fvm/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Ignoramos el archivo generado de env [ADR-0008]
lib/modulos/config/env.g.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/fastlane/report.xml
*.p8
ios/fastlane/fastlane_api.json
ios/fastlane/report.xml

#Librerias incluidas en Assets/Windows, no es necesario agregarlas en el repo raiz.
libcrypto-1_1-x64.dll
libssl-1_1-x64.dll
sqlcipher.dll